<div class="container">
  <div class="filter-bar">
    <!-- Doi tuong -->
    <div class="filter-child">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Chọn Đối Tượng"
        [(ngModel)]="selectedRole"
        (ngModelChange)="setData()"
      >
        <nz-option nzLabel="Giảng Viên" nzValue="teacher"></nz-option>
        <nz-option nzLabel="Sinh Viên" nzValue="student"></nz-option>
      </nz-select>
    </div>
    <!-- Doi tuong -->

    <!-- Khoa -->
    <div class="filter-child">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Khoa"
        [(ngModel)]="selectedDepartment"
        (ngModelChange)="changeDepartment()"
      >
        <nz-option
          *ngFor="let department of departmentData"
          [nzLabel]="department.name"
          [nzValue]="department.id"
        ></nz-option>
      </nz-select>
    </div>
    <!-- Khoa -->

    <!-- Lop -->
    <div
      class="filter-child"
      *ngIf="selectedRole === 'student' && !!selectedDepartment"
    >
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Lớp"
        [(ngModel)]="selectedClass"
        (ngModelChange)="getData()"
      >
        <nz-option
          *ngFor="let class of classData"
          [nzLabel]="class.name"
          [nzValue]="class.id"
        ></nz-option>
      </nz-select>
    </div>
    <!-- Lop -->

    <!-- Ten -->
    <div class="filter-child">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input
          nzAllowClear
          class="name"
          nz-input
          placeholder="Tìm Theo Tên"
          [(ngModel)]="nameValue"
        />
        <ng-template #inputClearTpl>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="nameValue"
            (click)="nameValue = ''"
          ></span>
        </ng-template>
      </nz-input-group>
    </div>
    <!-- Ten -->

    <!-- Button -->
    <button (click)="search()" nz-button nzType="primary">
      <span nz-icon nzType="search"></span>
      Tìm Kiếm
    </button>

    <button
      class="button add"
      nzShape="round"
      nzSize="large"
      routerLink="tao"
      nz-button
      nzType="primary"
    >
      <span nz-icon nzType="user-add" nzTheme="outline"></span>
      Thêm
    </button>
    <!-- Button -->
  </div>

  <div class="table-bar">
    <nz-table nzBordered #table [nzData]="personalData">
      <thead>
        <tr>
          <th>STT</th>
          <th *ngIf="selectedRole === 'teacher'">Mã Giảng Viên</th>
          <th *ngIf="selectedRole === 'student'">Mã Sinh Viên</th>
          <th>Họ Và Tên</th>
          <th>Ngày Sinh</th>
          <th>Khoa</th>
          <th *ngIf="selectedRole === 'student'">Lớp</th>
          <th>Số Lượng Ảnh</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td>{{ table.data.indexOf(data) + 1 }}</td>
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ convertDate(data.birthday) }}</td>
          <td>{{ data.department }}</td>
          <td *ngIf="selectedRole === 'student'">{{ data.class_name }}</td>
          <td>{{ data.pictures }}</td>
          <td>
            <a [routerLink]="['sua', data.id]">Xem</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Xóa</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
