<nz-layout class="layout">
  <nz-header>
    <div class="logo">Điểm Danh</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/quanly/canhan">Dữ Liệu Cá Nhân</li>
      <li nz-menu-item routerLink="/quanly/hocky">Quản Lý Học Kỳ</li>
      <li nz-menu-item routerLink="/quanly/hocphan">Quản Lý Học Phần</li>
      <li nz-menu-item routerLink="/face-recognition" target="_blank">
        Quét Điểm Danh
      </li>
      <li nz-menu-item routerLink="/face-recognition">Thống Kê - Báo Cáo</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/quanly">Trang Chủ</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>©2023 Ứng Dụng Quản Lý Người Học</nz-footer>
</nz-layout>
