.layout {
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(230, 230, 230, 0.2);
  margin: 16px 24px 16px 0;
  float: left;

  color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

  ul li {
    font-weight: 500;
  }
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 450px;
}

nz-footer {
  text-align: center;
}

.bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: 1px;

  &.right {
    width: 100%;
    justify-content: flex-end;
  }
}
