<nz-layout class="layout">
  <nz-sider
    [ngStyle]="{
      overflow: 'auto',
      height: '100vh',
      position: 'sticky',
      top: 0,
      left: 0
    }"
    #sider
    nzTheme="light"
    nzWidth="25%"
  >
    <div class="flex top">
      <div class="control-bar">
        <div class="time-now">
          <nz-statistic
            [nzValue]="timenow"
            [nzTitle]="'Thời Gian Hiện Tại'"
          ></nz-statistic>
        </div>

        <h3 style="margin-top: 1rem" nz-typography>
          Học kỳ:
          <nz-tag [nzColor]="'#2db7f5'">{{ currentPeriod?.full_name }}</nz-tag>
        </h3>

        <form
          [formGroup]="faceForm"
          nzLayout="vertical"
          style="margin-top: 2rem"
          nz-form
        >
          <nz-form-item>
            <nz-form-label [nzSpan]="null">Học phần</nz-form-label>
            <nz-form-control [nzSpan]="null">
              <nz-select
                formControlName="selectedModule"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Chọn học phần"
                (ngModelChange)="changeModule()"
              >
                <nz-option
                  *ngFor="let module of moduleData"
                  [nzLabel]="module.name"
                  [nzValue]="module.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="schedule">
            <nz-form-label [nzSpan]="null">Thời gian học hôm nay</nz-form-label>
            <nz-form-control [nzSpan]="null">
              <input
                [readonly]="true"
                nz-input
                value="Từ {{ schedule.start_on_day }} Đến {{
                  schedule.end_on_day
                }}"
              />
              <nz-alert
                style="margin-top: 6px"
                *ngIf="!isBetween()"
                nzType="warning"
                nzMessage="Chưa đến hoặc đã quá giờ học"
                nzShowIcon
              ></nz-alert>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item
            *ngIf="!schedule && faceForm.controls.selectedModule.value"
          >
            <nz-alert
              nzType="warning"
              nzMessage="Hôm nay không có thời gian học"
              nzShowIcon
            ></nz-alert>
          </nz-form-item>

          <nz-form-item *ngIf="faceForm.controls.selectedModule.value">
            <nz-form-label [nzSpan]="null">Giảng Viên</nz-form-label>
            <nz-form-control [nzSpan]="null">
              <input
                [value]="
                  getDatakey(faceForm.controls.selectedModule.value, 'teacher')
                "
                [readonly]="true"
                nz-input
                placeholder="GV"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="faceForm.controls.selectedModule.value">
            <nz-form-label [nzSpan]="null">Số Sinh Viên Đăng Ký</nz-form-label>
            <nz-form-control [nzSpan]="null">
              <input
                [value]="
                  getDatakey(
                    faceForm.controls.selectedModule.value,
                    'count_student'
                  )
                "
                [readonly]="true"
                nz-input
                placeholder="Số SV"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="null"
              >Số phút lặp lại kiểm tra</nz-form-label
            >
            <nz-form-control [nzSpan]="null">
              <nz-select
                [disabled]="this.enableCamera"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="timeRepeatCheck"
                nzShowSearch
                nzPlaceHolder="Chọn khoảng thời gian"
                (ngModelChange)="changeReatTime()"
              >
                <nz-option
                  *ngFor="let checkTime of listRepeatCheckTime"
                  [nzLabel]="checkTime"
                  [nzValue]="checkTime"
                ></nz-option>
              </nz-select>
            </nz-form-control>

            <button
              nzType="primary"
              style="margin-top: 1rem"
              *ngIf="faceForm.controls.selectedModule.value"
              (click)="handleOpen()"
              nz-button
            >
              <span nz-icon nzType="eye" nzTheme="outline"></span>
              Xem Dữ Liệu Điểm Danh
            </button>
          </nz-form-item>
        </form>
      </div>

      <div class="button-bar">
        <button routerLink="/quanly" nz-button>
          <span nz-icon nzType="left"></span>
          Trang Chủ
        </button>

        <button
          (click)="toggleCam()"
          nz-button
          nzType="primary"
          nzShape="round"
          [disabled]="
            !readyEnableCamera ||
            !faceForm.controls.selectedModule.value ||
            !schedule ||
            !isBetween()
          "
          *ngIf="!enableCamera"
        >
          <span nz-icon nzType="video-camera" nzTheme="outline"></span>
          <span>Bắt Đầu Điểm Danh</span>
        </button>

        <button
          nz-button
          nzDanger
          nzType="primary"
          nzShape="round"
          *ngIf="enableCamera"
          nz-popconfirm
          nzPopconfirmTitle="Xác nhận dừng điểm danh và đồng bộ dữ liệu"
          [nzBeforeConfirm]="beforeConfirm"
          (nzOnConfirm)="confirmFinish()"
          nz-button
          nzType="primary"
        >
          <span nz-icon nzType="video-camera" nzTheme="outline"></span>
          <span>Dừng Điểm Danh</span>
        </button>
      </div>
    </div>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <div id="video-container" class="video-container">
          <h2 class="setup-title" *ngIf="!enableCamera" nz-typography>
            <span
              class="icon"
              nz-icon
              nzType="video-camera-add"
              nzTheme="outline"
            ></span>
            Thiết lập và bật chế độ điểm danh
          </h2>
          <video
            *ngIf="enableCamera"
            id="video"
            class="video"
            #video
            autoplay="true"
            src=""
            [srcObject]="srcObject"
          ></video>
        </div>

        <nz-tabset style="height: 100%; width: 30%; padding: 0 20px">
          <nz-tab [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
              <span nz-icon nzType="pie-chart"></span>
              Cập Nhật
            </ng-template>
            <div class="list-update">
              <span class="item-update" *ngFor="let list of listUpdate">
                <span>
                  <nz-tag [nzColor]="'#2db7f5'">{{ list.id }}</nz-tag></span
                >
                <span>
                  {{ !list.notFirst ? "Tham gia vào:" : "Vẫn có mặt lúc:" }}
                  <nz-tag [nzColor]="'green'">{{ list.date }}</nz-tag></span
                >
                <span *ngIf="list.delay"> (Muộn)</span>
                <br />
              </span>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal
  nzCentered
  nzWidth="50%"
  [nzFooter]="modalFooter"
  [(nzVisible)]="isVisibleModal"
  (nzOnCancel)="handleCancel()"
  nzTitle="Xem Dữ Liệu Điểm Danh"
>
  <ng-container *nzModalContent>
    <nz-table
      nzBordered
      [nzShowPagination]="false"
      #t
      [nzData]="listStudent"
      nzSize="small"
    >
      <thead>
        <tr>
          <th>MSV</th>
          <th>Tên</th>
          <th>Ngày Sinh</th>
          <th>Tham Gia (%)</th>
          <th>Đi Muộn</th>
          <th>Vắng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of t.data">
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>
            <nz-tag>{{ data.birthday | date : "dd/MM/yyyy" }}</nz-tag>
          </td>
          <td>{{ summary(data.id)[0] }}</td>
          <td>
            <span
              *ngIf="summary(data.id)[1]"
              nz-icon
              nzType="check"
              nzTheme="outline"
            ></span>
          </td>
          <td>
            <span
              *ngIf="summary(data.id)[2]"
              nz-icon
              nzType="check"
              nzTheme="outline"
            ></span>
          </td>
        </tr>
      </tbody> </nz-table
  ></ng-container>

  <ng-template #modalFooter>
    <button (click)="handleCancel()" nz-button nzType="default">Đóng</button>
  </ng-template>
</nz-modal>
