<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected (click)="changeTab('profile')">
    <span nz-icon nzType="user" nzTheme="outline"></span>
    Thông Tin
  </li>

  <li *ngIf="isEdit" nz-menu-item (click)="changeTab('pictures')">
    <span nz-icon nzType="picture" nzTheme="outline"></span>
    Ảnh Cá Nhân
  </li>
</ul>

<div class="container">
  <div *ngIf="selectedTab === 'profile'" class="profile bar">
    <div class="profile content">
      <div class="profile avatar">
        <nz-avatar [nzSize]="300" nzIcon="user"></nz-avatar>
      </div>

      <form
        [formGroup]="personalForm"
        class="profile form"
        nz-form
        [nzLayout]="'vertical'"
      >
        <nz-form-item>
          <nz-form-label [nzSpan]="null"
            >Mã
            {{
              selectedRoleStudent ? "Sinh Viên" : "Giảng Viên"
            }}</nz-form-label
          >
          <nz-form-control [nzSpan]="null">
            <input
              formControlName="id"
              [readonly]="isEdit"
              nz-input
              placeholder="19K4081028"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="null">Họ và Tên</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <input formControlName="name" nz-input placeholder="Nguyễn Văn A" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="null">Ngày Sinh</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <nz-date-picker formControlName="birthday"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </form>

      <form
        [formGroup]="personalForm"
        class="profile form"
        nz-form
        [nzLayout]="'vertical'"
      >
        <nz-form-item>
          <nz-form-label [nzSpan]="null">Khoa</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <nz-select
              formControlName="deparment"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Khoa"
            >
              <nz-option nzLabel="QTKD" nzValue="1"></nz-option>
              <nz-option nzLabel="KT-TC" nzValue="2"></nz-option>
              <nz-option nzLabel="KTPT" nzValue="3"></nz-option>
              <nz-option nzLabel="HTTTKT" nzValue="4"></nz-option>
              <nz-option nzLabel="KTCT" nzValue="5"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="selectedRoleStudent">
          <nz-form-label [nzSpan]="null">Lớp</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <nz-select
              formControlName="class"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Lớp"
            >
              <nz-option nzLabel="K53 THKT" nzValue="1"></nz-option>
              <nz-option nzLabel="K53 TKKD" nzValue="2"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!selectedRoleStudent">
          <nz-form-label [nzSpan]="null">Chức Vụ</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <nz-select
              formControlName="role"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chức Vụ"
            >
              <nz-option nzLabel="Giảng Viên" nzValue="Giảng Viên"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="null">Tổng Số Ảnh</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <input
              formControlName="countPictures"
              [readonly]="true"
              nz-input
              placeholder="Số Ảnh Huấn Luyện"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div class="action" [class.only-button]="isEdit">
      <div *ngIf="!isEdit" class="profile switch">
        <span>Giảng Viên</span>
        <nz-switch [(ngModel)]="selectedRoleStudent"></nz-switch>
        <span>Sinh Viên</span>
      </div>
      <button
        (click)="createPerson()"
        nzShape="round"
        nz-button
        nzType="primary"
      >
        {{ isEdit ? "Cập Nhật" : "Tạo" }}
      </button>
    </div>
  </div>

  <div *ngIf="selectedTab === 'pictures'" class="pictures bar">
    <div class="clearfix">
      <nz-upload
        [nzFileType]="'image/png,image/jpeg'"
        [nzMultiple]="true"
        [nzAction]="uploadPicLink"
        nzListType="picture-card"
        [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length < 8"
        [nzPreview]="handlePreview"
        [nzRemove]="handleRemove"
        (nzChange)="handleReq($event)"
      >
        <div>
          <span nz-icon nzType="plus"></span>
          <div style="margin-top: 8px">Upload</div>
        </div>
      </nz-upload>

      <nz-modal
        [nzVisible]="previewVisible"
        [nzContent]="modalContent"
        [nzFooter]="null"
        (nzOnCancel)="previewVisible = false"
      >
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
        </ng-template>
      </nz-modal>
    </div>
    <div class="action-bar">
      <button
        [nzLoading]="isLoadingTrainModel"
        (click)="updateDataModel()"
        nz-button
        nzType="primary"
      >
        Tạo Mô Hình
      </button>
      <button
        *ngIf="dataModel"
        (click)="uploadDataModel()"
        nz-button
        nzType="primary"
      >
        Tải Lên Mô Hình
      </button>
    </div>
  </div>
</div>
