<div class="login-container">
  <div class="layout">
    <div class="image-container">
      <img src="../../../../assets/img/login.png" alt="" />
    </div>
    <div class="form-container">
      <div class="form">
        <form nz-form class="login-form" (ngSubmit)="Login()">
          <h3 style="color: cadetBlue">Thông Tin Đăng Nhập</h3>
          <nz-form-item class="input email">
            <nz-form-control nzErrorTip="Vui lòng nhập đúng định dạng Email!">
              <nz-input-group nzPrefixIcon="user">
                <input
                  [formControl]="emailFormControl"
                  nz-input
                  placeholder="Email"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="input password">
            <nz-form-control nzErrorTip="Mật khẩu cần có tối thiểu 6 ký tự!">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  nzSize="large"
                  [formControl]="passwordFormControl"
                  nz-input
                  type="password"
                  placeholder="Password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button
            type="submit"
            id="login-btn"
            class="button add"
            nzShape="round"
            nzSize="large"
            nz-button
            nzType="primary"
            [disabled]="!emailFormControl.valid || !passwordFormControl.valid"
          >
            Đăng Nhập
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
